.u-section-1 .u-sheet-1 {
  min-height: 738px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 698px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 0 41px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 73px 27px 0 41px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 698px;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 307px;
  height: 400px;
  margin: 0 170px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 733px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 623px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 113px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 658px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 33px;
  }
}